Sort_C#/ArrMetods.cs
Sort_C#/obj/project.assets.json
Sort_C#/obj/project.assets.json
Sort_C#/obj/project.nuget.cache
Sort_C#/obj/Debug/net7.0/Sort_C#.assets.cache
Sort_C#/obj/Sort_C#.csproj.nuget.dgspec.json
Sort_C#/obj/Debug/net7.0/Sort_C#.GeneratedMSBuildEditorConfig.editorconfig
